:root {
  --main-color: #c1bdbd;
  --background-color: #fff;
  --after-color: #c00113;
  --text-color: #333;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Robot", sans-serif !important;
}

section {
  padding: 80px 0px;
}

section#faq {
  background-color: #202020;
}
section .container > h2 {
  /* color: #FFF; */
  font-weight: normal !important;
  text-transform: capitalize !important;
}
.faq-section h2,
.register-section h2,
.gallery-section h2,
.cast-section h2 {
  text-align: center;
  font-size: 40px;
  color: var(--text-color);
  margin-bottom: 10px;
}

@media (max-width: 575px) {
  .faq-section h2::after,
  .register-section h2::after {
    display: none;
  }
}
.faq-collapse {
  background-color: transparent;
}
.faq-collapse a {
  text-decoration: none;
}
.panel-heading {
  background-color: transparent !important;
}
.faq-header {
  font-family: Inter, sans-serif !important;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}
.panel-body {
  font-family: Inter, sans-serif !important;
  font-size: 16px !important;
}
@media (min-width: 575px) {
  /* .faq-collapse {
    width: 50%;
  } */
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.gallery-list {
  text-align: center;
}

#gallery .container > h2 {
  margin: 30px 0px;
}

#gallery-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.gallery-list li {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0 5px;
  padding: 22px 10px;
  min-width: 140px;
  transition: all 0.5s ease-in-out 0s;
  color: var(--main-color);
  box-shadow: 0px 5px 30px 0px rgba(148, 146, 245, 0.15);
  background-color: var(--background-color);
  cursor: pointer;
  border-radius: 3px;
}

.gallery-list li:hover,
.gallery-list li.filter-active {
  background-color: var(--after-color);
}

.gallery-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.gallery-container > div {
  display: flex;
}

.gallery-section {
  overflow: hidden;
}

.gallery-section p,
.faq-section p,
.register-section p,
.cast-section p {
  text-align: center;
  margin-bottom: 40px;
  font-size: 28px;
  /* color: var(--after-color); */
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.gallery-item {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 3px;
  margin-top: 30px;
  opacity: 0;
  animation: fade-in 0.8s ease-in-out forwards;
}
.gallery-item {
  height: 220px;
  width: 100%;
}
.gallery-item img {
  width: 100%;
}

a {
  cursor: pointer;
}

/* .gallery-item img {
  width: 100%;
  height: auto;
} */

.gallery-item p {
  text-align: center;
}

section#cast {
  background-color: #202020;
}
.Ourcast {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #efefef;
}
#cast h2 {
  color: #fff !important;
}

.card {
  /* background: var(--main-color); */
  border-radius: 8px;
  width: 312px;
}
.card .image-box {
  height: 200px;
}

.card .image-box img {
  height: 191px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card .profile-details {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 15px;
}

.profile-details .name {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  color: #000;
  /* color: var(--background-color); */
}

.profile-details .detail {
  /* font-size: 12px; */
  font-weight: 300;
  /* color: #4d4d4d; */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
header {
  height: 100vh;
  width: 100%;
  background-image: url("../image/title2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  background-color: transparent !important;
}

header .container nav a img {
  margin-top: -90px;
  width: 200px;
}

nav .links li {
  color: var(--background-color);
}
/* header{
  position: relative;
} */
header p {
  color: var(--background-color);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 90px;
}

.register-content h3 {
  font-size: 17px;
  line-height: 1.5;
}

.button-container {
  display: block;
}

.button.register {
  margin-top: 25px;
  cursor: pointer;
  font-weight: 500;
  line-height: inherit;
  position: relative;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  font-size: 16px !important;
}

.button--small {
  padding: 10px 20px;
  font-size: 0.875rem;
}

.button--green {
  outline: none;
  background-color: #64d18a;
  border-color: #64d18a;
  color: white;
  transition: all 200ms ease;
}

.button--green:hover {
  background-color: #8bdda8;
  color: white;
}
@media (max-width: 768px) {
  /* Styles for screens smaller than 768px */
  .navbar-brand img {
    max-width: 100%;
    height: auto;
  }

  .navbar-nav {
    flex-direction: column;
  }

  .navbar-nav .nav-item {
    margin-bottom: 10px;
  }

  .navbar-nav .btn {
    margin-top: 10px;
  }

  .text-center {
    text-align: center;
  }
}
.owl-carousel .nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 50% !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.2;
}

.owl-carousel .prev-slide {
  background: url(nav-icon.png) no-repeat scroll 0 0;
  left: -33px;
  font-size: 30px;
  color: #a7a7a7 !important;
}
.owl-carousel .next-slide {
  background: url(nav-icon.png) no-repeat scroll -24px 0px;
  right: -33px;
  font-size: 30px;
  color: #a7a7a7 !important;
}
.owl-carousel .prev-slide:hover {
  background-position: 0px -53px;
}
.owl-carousel .next-slide:hover {
  background-position: -24px -53px;
}
